body{
    margin: 0;
    padding: 0;
}

.menu-cont{
    height: 4rem;
    width: 3.5rem;
    background-color: #f1f2f6;
    position: absolute;
    top: 2rem;
    left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.options-cont{
    display: flex;
    height: 4rem;
    width: 55vw;
    background-color: #f1f2f6;
    justify-content: space-around;
    position: absolute;
    top: 2rem;
    left: 25vw;
}
.pencil{
    cursor: pointer;
}
.eraser-option-cont{
    height: 2rem;
    width: 7rem;
    background-color: #f1f2f6;
    position: absolute;
    top: 6.5rem;
    left: 33vw;
    border-radius: 3px;
    display: none;
    cursor: pointer;
}
.eraser-option-cont>input{
    width: 80%;
   margin-left: 8px;
    /* display: flex;
    justify-content: center;
    align-items: center; */

}
.pencil-options-cont{
    height: 5rem;
    width: 7rem;
    background-color: #f1f2f6;
    position: absolute;
    top: 6.5rem;
    left: 25vw;
    border-radius: 3px;
    display: none;
    cursor: pointer;
}
.pencil-width-cont{
    /* background-color: orange; */
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pencil-width-cont input{
    width: 80%;
}
.pencil-color-cont{
    /* background-color: yellow; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
}
.pencil-color{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.black {
    background-color: black;
}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}

.sticky-cont{
    /* border: 1px solid black; */
    width: 250px;
    height: 220px;
    position: absolute;
    top: 15rem;
    left: 10rem;
}

.sticky-header{
    background-color: #f1f2f6;
    width: 250px;
    height: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.text-area{
    /* border: 1px solid green;
    width: 250px;
    height: 190px; */
    height: calc( 100% - 2rem );
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.text-area >textarea{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    resize: none;
}

.minimize-sticky{
    background: green;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    
}

.close-sticky{
    background: crimson;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 20px;
}